<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.omandiscount">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstoreicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.Signup" />
        <activity
            android:name=".NavigationDrawer.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.DealersDetails" />
        <activity android:name=".Activity.Products" />
        <activity android:name=".Activity.ProductListDetails" />
        <activity android:name=".Activity.ProductMap" />
        <activity android:name=".Activity.MapActivity" />
        <activity android:name=".Activity.TodaysDetails" />
        <activity android:name=".Activity.FeaturedDetails"></activity>
    </application>

</manifest>